<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Hikers App</title>
  </head>
  <body>
    <h1>Hikers Index Page</h1>
    <img src="./images/hikers.jpg" alt="Hikers">
  </body>
</html>
